.details-photo-slider {
    background-color: rgba(0, 0, 0, 0.376);
    height: 92vh;
    .slider-container {
        position: relative;
        max-width: 800px;
    }
    .button {
        position: relative;
    }
}
