.multi-carousel{
    .carousel{
        // background-color: steelblue;
        width: 100%;
        margin: 0;
        padding: 0;
        img{
            width: 130px;
            height: 110px;
        }
    }
}